.color_text{
    color: #116597;
}
.formrecoverbtn button{
    background-color: #116597;
    border-radius: 15px;
    color: white;
}
.formrecoverbtn button:hover{
    background-color: #15BBE3;
    color: white;
}
.formrecoverregreso a{
    color: #116597;
    text-decoration: none;
}
.formrecoverregreso a:hover{
    color: #15BBE3;
    text-decoration: none;
}