.Title h1{
    position: absolute;
width: 421px;
height: 81px;
left: 150px;
top: 132px;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 100%;

/* or 36px */
display: flex;
align-items: center;

color: #FFFFFF;
}

.Title p{
 
position: absolute;
width: 421px;
height: 64px;
left: 150px;
top: 223px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;

color: #FFFFFF;
}

.btn1{
/*Boton*/
position: absolute;
width: 166px;
height: 47px;
left: 150px;
top: 312px;
background: #FFFFFF;
border-radius: 50px;

/*letra*/
position: absolute;
width: 166px;
height: 47px;
left: 150px;
top: 312px;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #15BBE3;
border-radius: 50px;
}

.btn2{
/*Boton*/
position: absolute;
width: 214px;
height: 47px;
left: 331px;
top: 312px;
background: #15BBE3;
border-radius: 50px; 

/*letra*/
position: absolute;
width: 214px;
height: 47px;
left: 331px;
top: 312px;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
border-radius: 50px;
}